body {
    font-family: 'Eudoxus Sans', sans-serif;
    color: white !important;
    background-color: black;
    background: url(images/bg.jpg);
    background-size: cover;
}

#loader {
    position: fixed;
    width: 100%;
    height: 100vh;
    z-index: 999;
    overflow: visible;
    background: #000 url(images/main-logo.gif) no-repeat center center;
    background-size: 40%;
}

p {
    color: #A4B0BE;
}


/* NAVBAR */

.navbar {
    background-color: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(10px);
}

.nav-spacing {
    width: 1280px;
    margin: 0 auto;
}

.navbar-brand {
    font-family: 'Zen Dots', cursive;
    font-size: 20px;
    color: white;
}

.nav-link {
    color: white;
    font-size: 14px;
    font-weight: 500;
    padding-right: 1rem !important;
    padding-left: 1rem !important;
}

.nav-line {
    height: 26px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    margin: 0.5rem 0;
}

.nav-solid-button {
    padding: 6px 14px !important;
    background: #1B212C;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    border-radius: 30px;
    margin: 0 20px;
}

.nav-button {
    padding: 6px 6px 6px 14px !important;
    background-color: #FF3701;
    border-radius: 30px;
}

.nav-button-img {
    padding-left: 12px;
}

.navbar-toggler-icon {
    background-image: url(images/nav-menu.png);
    background-size: auto;
}


.right-part {
    padding: 0;
    margin: 0;
    width: auto;
    display: flex;
    flex-wrap: inherit;
    align-items: center;
    justify-content: space-around;
}

.nav-bottom-line {
    width: 100%;
    height: 1px;
    background: linear-gradient(to right, rgba(16, 172, 132, 0) 0%, rgba(255, 55, 1, 0) 0.01%, #FF3701 51.04%, rgba(255, 55, 1, 0) 100%);
    background: -webkit-linear-gradient(to right, rgba(16, 172, 132, 0) 0%, rgba(255, 55, 1, 0) 0.01%, #FF3701 51.04%, rgba(255, 55, 1, 0) 100%);
}

/* MAIN SECTION */

#main {
    margin-top: 90px;
}

.main-header {
    font-weight: 700;
    font-size: 5.694vw;
    line-height: 112.9%;
    letter-spacing: -0.03em;
}

.main-header-intext {
    background: linear-gradient(to right, #FF3701, #E8843B);
    background: -webkit-linear-gradient(to right, #FF3701, #E8843B);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#main .nav-solid-button {
    position: relative;
    bottom: 30px;
}

.main-text {
    font-weight: 500;
    width: 85%;
    font-size: 1.111vw;
    margin: 16px 0 40px;
}

.whitepaper-btn {
    font-size: 14px;
    width: max-content;
    text-decoration: none;
    color: white;
    padding: 10px 20px;
    background: #1B212C;
    border-radius: 30px;
    margin-left: 12px;
}

#main .nav-button {
    width: max-content;
}

.learn-more {
    color: white;
    width: max-content;
    padding: 6.3px 9px;
    background: rgba(255, 255, 255, 0.1);
    border: 0.631507px solid rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(1.26301px);
    border-radius: 18px;
    margin-left: 6px;

}

.main-logo {
    position: absolute;
    right: 5%;
    width: 105%;
    background-image: url(images/main-logo-elips.png);
    background-repeat: no-repeat;
    background-position: 52% 50%;
    background-size: 54%;
    z-index: 1;
}

.main-logos {
    width: 165.5%;
    position: relative;
    left: 15px;
}

.countdown {
    margin-top: 200px;
    z-index: 0;
}

.zig-zag-arrow {
    position: relative;
    right: 10%;
    bottom: 20px;
    width: 18%;
}

.presale {
    background-image: url(images/hurry-up-bg.png);
    background-size: contain;
    background-repeat: no-repeat;
    height: 113px;
    width: 80.5%;
}

.presale-header {
    padding: 0 10% 20px 0;
    font-weight: 700;
    font-size: 1.667vw;
}

.countdown-timer {
    width: 70%;
    height: 30px;
    font-weight: 500;
    font-size: 1.667vw;
}

.hurry-up {
    position: absolute;
}

.countdown .nav-button {
    position: relative;
    top: 40px;
}

/* LINES SECTION */

.strip {
    font-size: 1.667vw;
    font-weight: 700;
    transform: rotate(4deg);
}

.strip-2 {
    transform: rotate(-4deg);

}

.wrapper {
    max-width: 100%;
    overflow: hidden;
}

.marquee {
    white-space: nowrap;
    overflow: hidden;
    display: inline-block;
    animation: marquee 10s linear infinite;
}

.marquee p {
    color: white;
    display: inline-block;
}

@keyframes marquee {
    0% {
        transform: translate3d(0, 0, 0);
    }

    100% {
        transform: translate3d(-50%, 0, 0);
    }
}

.strips {
    position: absolute;
    right: 0;
    left: 0;
    top: 20px;
}

.strip-orange {
    position: absolute;
}

/* PARTNERS SECTION */

#partners {
    margin-top: 280px;
    text-align: center;
}

.partners-header {
    font-weight: 700;
    font-size: 1.667vw;
    margin-bottom: 50px;
}

#partners h5 {
    margin-top: 12px;
    font-size: 20px;
    white-space: nowrap;
}

/* HOW-IT-WORKS SECTION */

#how-it-works {
    margin-top: 100px;
}

h6 {
    color: #FF3701;
    font-size: 1.111vw;
    font-weight: 500;
    letter-spacing: 0.18em;
    margin-bottom: 16px;
}

h2 {
    font-size: 3.056vw;
    font-weight: 700;
    margin-bottom: 30px;
}

.hiw-text {
    font-weight: 500;
    font-size: 1.111vw;
    line-height: 24px;
    padding-right: 26%;
}

.video {
    width: 100%;
    height: 258px;
    border-radius: 10px;
}

.video-border {
    padding: 3px;
    background-image: url(images/video.png);
    background-size: contain;
    background-repeat: no-repeat;
}

.hiw-wallet {
    background-image: url(images/video.png);
    background-size: contain;
    background-repeat: no-repeat;
    padding: 36px 30px;
}

.wallet-header {
    font-size: 1.667vw;
    font-weight: 500;
    margin: 25px 0 20px;
}

.wallet-text {
    font-size: 0.972vw;
    line-height: 18px;
}

/* ROADMAP SECTION */

#roadmap h2 {
    margin-bottom: 10px;
}

.roadmapline {
    width: 32%;
    margin: 0 auto;
    margin-bottom: 10px;
}

.roadmap-text {
    font-size: 1.111vw;
    font-weight: 500;
    padding: 0 26%;
}

.roadmap-phaseline {
    width: 85%;
    margin-left: 10px
}

.phase-text {
    font-size: 0.972vw;
    line-height: 18px;
}

.phase-items {
    border-left: 2px solid #FF3701;
    font-size: 0.972vw;
    color: #A4B0BE;
}

.phase-items li {
    margin-bottom: 6px;
    white-space: nowrap;
}

/* AD SECTION */

#ad {
    margin-top: 150px;
}

.ad-topheader {
    font-size: 1.111vw;
    font-weight: 700;
    background: linear-gradient(to right, #FF3701, #E8843B);
    background: -webkit-linear-gradient(to right, #FF3701, #E8843B);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.ad-text {
    font-size: 1.111vw;
    font-weight: 500;
}

.ad-img {
    width: 100%;
    position: relative;
    bottom: 230px;
    background-image: url(images/ad-img-elips.png);
    background-size: contain;
}

/* UTILITY SECTION */

#utility {
    position: relative;
    bottom: 250px;
}

.utility-text {
    padding: 0 330px;
    margin-bottom: 30px;
    font-size: 1.111vw;
}


.utility-border {
    background-image: url(images/utility-border.png);
    padding: 25px 36px;
    background-size: contain;
    background-repeat: no-repeat;
    margin: 40px 0;
}

#utility h4 {
    margin: 32px 0 20px;
}

.utility-border p {
    font-size: 0.972vw;
}

/* FAQ SECTION */

#faq {
    position: relative;
    bottom: 220px;
}

.faq-text {
    margin-top: 150px;
}

.faq-mail {
    color: #FF3701;
}

.accordion {
    --bs-accordion-bg: transparent;
}

.accordion-button:not(.collapsed) {
    background-color: transparent;
    box-shadow: none;
    color: white;
}

.accordion-button:not(.collapsed)::after {
    background-image: url(images/down-arrow.png);
}

.accordion-button:focus {
    box-shadow: none;
}

.faq-logo {
    margin-right: 25px;
}

.accordion-button {
    color: white;
    font-weight: 700;
}

.accordion-item {
    border-bottom: 1px solid #FF3701 !important;
    border-top: 1px solid #FF3701 !important;
}

.accordion-button::after {
    background-image: url(images/down-arrow.png);
    background-size: auto;
}

.accordion p {
    padding: 0 70px;
}

/* DISCORD SECTION */

#discord {
    background-image: url(images/ad-img-elips.png);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
}

.discord-header {
    font-size: 2.222vw;
}

.discord-text {
    font-size: 1.111vw;
    margin: 32px 0;
    line-height: 24px;
}

.discord-border {
    padding: 90px 30%;
    background: rgba(0, 0, 0, 0.2);
    border: 1px solid #FF3701;
    backdrop-filter: blur(10px);
    border-radius: 40px;
}

.discord-button {
    color: white;
    padding: 18px;
    background: #FF3701;
    box-shadow: 0px 4px 20px rgba(16, 172, 132, 0.2);
    border-radius: 30px;
    font-size: 1.111vw;
}

/* FOOTER SECTION */

#footer {
    margin-top: 100px;
}

.footer-logo {
    width: 100px;
}

.footer-header {
    display: inline;
    width: 250px;
    margin: 8px 0;
    padding: 0;
    height: min-content;
    font-family: 'Zen Dots', cursive;
    font-size: 20px;
}

.footer-text {
    text-align: center;
    margin-bottom: 15px;
    padding: 20px 30%;
    font-size: 1.111vw;
}

.footer-img {
    background: #1B212C;
    border-radius: 24px;
    padding: 14px 12px;
    width: 48px;
    height: 48px;
    margin: 50px 8px;
}

.back-to-top {
    position: fixed;
    right: 2rem;
    bottom: 2rem;
}

.hidden{
    display: none;
}










/* TABLET */

@media (max-width:992px) {
    .nav-solid-button {
        -ms-flex-order: 0;
        order: 0;
        margin: 0;
    }

    .navbar-toggler {
        -ms-flex-order: 1;
        order: 1;
        padding: 0;
    }

    .nav-line {
        -ms-flex-order: 2;
        order: 2;
    }

    .nav-button {
        -ms-flex-order: 3;
        order: 3;
    }

    .navbar-brand {
        margin-right: 0;
    }

    .right-part {
        width: 50%;
    }

    .main-text {
        width: 90%;
        font-size: 11px;
        margin: 6px 0 24px;
    }

    #main .nav-button {
        padding: 4px 4px 4px 9px !important;
    }

    .main-logo {
        margin-top: 45px;
        width: 150%;
        right: -12%;
    }

    .main-logos {
        width: 26px;

    }

    .zig-zag-arrow {
        position: absolute;
        width: 30%;
        right: 115%;
        bottom: 35px;
    }

    .presale {
        width: 120%;
    }

    #main .countdown .nav-button {
        font-size: 9px;
        width: 30%;
    }

    #main .countdown .nav-button .nav-button-img {
        width: 50%;
    }

    .strips {
        top: -25px;
    }

    .strip {
        font-size: 14px;
    }

    #partners {
        margin-top: 200px;
    }

    .partners-header {
        font-size: 14px;
    }

    #partners img {
        width: 30px;
    }

    #partners h5 {
        font-size: 11.5px;
        font-weight: 400;
    }

    #how-it-works {
        margin-top: 55px;
    }

    .hiw-text {
        line-height: 14px;
    }

    .video {
        height: 145px;
    }

    .hiw-wallet {
        padding: 20px 17px;
    }

    .wallet-text {
        line-height: 12px;
    }

    #roadmap h4 {
        font-size: 14px;
    }

    #ad {
        margin-top: 80px;
    }

    .ad-img {
        bottom: 100px;
    }

    #utility {
        bottom: 150px;
    }

    .utility-text {
        padding: 0 50px;
    }

    #utility h4 {
        font-size: 14px;
        margin: 20px 0 11px;
    }

    .utility-border {
        padding: 20px 14px;
    }

    #faq {
        bottom: 150px;
    }

    .faq-text,
    .faq-mail,
    .accordion-button,
    .accordion p {
        font-size: 9.27px;
    }

    .accordion p {
        padding: 0;
    }

    .discord-border {
        padding: 50px 30%;
    }

    .discord-text {
        line-height: 14px;
    }


    .discord-button {
        padding: 11px;
    }








}

/* MOBILE */

@media (max-width:575px) {

    body {
        background-color: black;
        background: url(images/mobile-bg.jpg);
        background-size: cover;
    }

    .navbar {
        padding: 22px 0;
    }

    .nav-logo {
        width: 33%;
    }

    .navbar-brand {
        font-size: 11.65px;
        width: min-content;
    }

    .nav-solid-button,
    .nav-line {
        display: none;
    }

    .nav-button {
        order: 0;
        -ms-flex-order: 0;
    }

    .right-part {
        width: auto;
    }

    #main {
        margin-top: 75px;
    }

    .main-header {
        font-size: 37px;
        padding: 0 30px;
    }

    .main-text {
        width: 87%;
        margin-left: auto;
        margin-right: auto;
    }

    #main .nav-button {
        padding: 6px 6px 6px 14px !important;
    }

    .learn-more {
        padding: 10px 20px;
        border-radius: 30px;
    }

    .main-logo {
        width: 100%;
        right: 0%;
    }

    .hurry-up {
        width: 24%;
    }

    #main .countdown .nav-button {
        width: max-content;
        position: absolute;
        top: 100px;

    }

    .presale {
        width: 80%;
        margin: 70% auto 0;
    }

    .presale-header,
    .countdown-timer {
        text-align: center;
        width: 100%;
        padding: 0;
        font-size: 15px;
    }

    .zig-zag-arrow {
        width: 85px;
        right: 68%;
        bottom: -40px;
    }

    .strips {
        top: -30px;
    }

    #partners {
        margin-top: 180px;
    }

    #how-it-works {
        text-align: center;
    }

    h6 {
        font-size: 9.27px;
    }

    h2 {
        font-size: 25.48px;
    }

    .hiw-text {
        padding: 0 30px;
        font-size: 11px;
    }


    .hiw-wallet,
    .video-border {
        background-position: center;
        background-image: url(images/video-mobile.png);
    }

    .video-border {
        padding: 5px 30px 50px;
    }

    .wallet-header {
        font-size: 19px;
    }

    .wallet-text {
        font-size: 11.13px;
        line-height: 14px;
        width: 85%;
        margin: 0 auto;
    }

    .roadmapline {
        width: 80%;
    }

    .roadmap-text {
        font-size: 11px;
        padding: 0 35px;
        line-height: 12px;
    }

    .roadmap-phaseline {
        width: 1280px;
        flex-wrap: nowrap;
        overflow: hidden;
        margin-left: 30px;
    }

    .mobile-over {
        overflow-x: hidden;
        flex-wrap: nowrap;
    }

    #roadmap h4 {
        font-size: 24px;
    }

    .phase-text,
    .phase-items {
        font-size: 14px;
    }

    .carousel-control-next,
    .carousel-control-prev {
        position: static;
        display: inline-block;

    }

    #ad {
        text-align: center;
    }

    .ad-topheader {
        font-size: 9.27px;
    }

    #ad h2 {
        padding: 0 60px;
    }

    .ad-text {
        font-size: 9.26px;
        padding: 0 20px;
    }

    .ad-img {
        bottom: 30px;
    }

    #utility {
        bottom: 0;
    }

    .utility-text {
        font-size: 9.27px;
        padding: 0 20px;
    }

    .utility-border {
        margin: 0;
        padding: 30px 35px 110px;
    }

    #utility h4 {
        font-size: 26.33px;
    }

    .utility-border p {
        font-size: 12px;
    }

    #faq {
        bottom: 0px;
    }

    .faq-text {
        margin-top: 20px;
    }

    #faq h2 {
        padding: 0 20px;
    }

    .discord-border {
        padding: 50px 20px;
        margin: 36px;
        width: 80%;
    }

    .discord-header {
        font-size: 18px;
    }

    .discord-text {
        font-size: 9.27px;
    }

    .discord-button {
        font-size: 8.11px;
    }

    .footer-header {
        font-size: 12.86px;
        width: 130px;
        margin: 13.5px 0;
    }

    .footer-text {
        font-size: 9.27px;
        padding: 10px 40px;
    }

    .back-to-top {
        position: relative;
        left: 41%;
    }







}

@media (min-width:576px) {
    .countdown .nav-button {
        left: 30% !important;
    }

    .carousel-item {
        width: 25%;
        margin-right: 0;
    }
}